/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.link {
  text-decoration: none;
  color: initial;
}
.link:hover {
  background-color: inherit;
  color: initial;
}
:root {
  ---secondary-color: rgb(212, 209, 209);
}

/* dark mode */
.app.dark {
  background-color: #222;
}

/* topbar dar mode */
.app.dark .tobarContainer {
  background-color: #222;
  box-shadow: -1px 6px 10px -9px rgba(255, 254, 254, 0.56);
  border: none;
}
.app.dark .tobarContainer .searchIcon .fa-magnifying-glass {
  color: var(---secondary-color);
}
.app.dark .tobarContainer .searchIcon .fa-facebook-messenger {
  color: var(---secondary-color);
}

.app.dark .tobarContainer .profileImg span {
  color: var(---secondary-color);
}
.app.dark .tobarContainer .rightIconItem {
  color: white;
  background-color: black;
}
/* sidebar dark mode style */
.app.dark .sidebar {
  background-color: #222;
  color: white;
}
.app.dark .sidebar .profileImgSidebar p {
  color: white;
}
.app.dark .sidebar span {
  color: var(---secondary-color);
}
.app.dark .sidebar .sidebatIcon :hover {
  background-color: rgb(49, 49, 49);
}

/* post dark mode */
.app.dark .post {
  color: var(---secondary-color);
  background-color: rgb(49, 49, 49);
  border: none;
}
.app.app.dark .post .UserProfileIg span {
  color: var(---secondary-color);
}
.app.dark .post .likeContainer {
  color: var(---secondary-color);
}
.app.dark .post .likeNumber {
  color: var(---secondary-color);
}

/* feed */
.app.app.dark .feed {
  background-color: rgb(49, 49, 49);
  border: none;
}
.app.dark .feed input {
  background-color: gray;
}
.app.dark .feed input::placeholder {
  color: white;
}

/* user's intro */
.app.dark .leftSideIntro {
  background-color: #222;
  border: none;
  color: var(---secondary-color);
  border: 1px solid rgb(68, 68, 68);
}

/* user's post only */
.app.dark .UserPostOnly {
  background-color: #222;
}
.app.dark .UserProfileOnyIg span {
  color: var(---secondary-color);
}
.app.dark .UserProfileOnyIg h6 {
  color: var(---secondary-color);
}

.app.dark .UserPostOnly .likeContainer span {
  color: var(---secondary-color);
}

.app.dark .UserPostOnly .likeNumber span {
  color: var(---secondary-color);
}
.app.dark .UserPostOnly .posatIcon button {
  background-color: #222;
  color: white;
}
.app.dark .UserPostOnly .dropdown-content {
  background-color: var(---secondary-color);
  color: black;
}

.app.dark .UserPostOnly .likeNumber p {
  color: var(---secondary-color);
}
.app.dark .UserPostOnly .likeContainer {
  color: var(---secondary-color);
}

/* profile */
.app.dark .userProfileNameSpan {
  color: var(---secondary-color);
}

/* edit profile */
.app.dark .editContainer {
  background-color: #222;
}
.app.dark .editContainer .editWrapper {
  background-color: #222;
  color: var(---secondary-color);
}
.app.dark .editContainer .editheadertext h1,
.fa-xmark {
  color: var(---secondary-color);
}
.app.dark .editContainer .editheadertext .fa-xmark {
  color: var(---secondary-color);
}
.app.app.dark .editContainer .editBioDesc textarea {
  background-color: gray;
  color: white;
  cursor: pointer;
}
.app.app.dark .editContainer .editBioDesc textarea::placeholder {
  color: white;
}

.app.dark .editContainer input {
  background-color: gray;
  color: white;
}

.app.dark .editInfoContainer label {
  color: var(---secondary-color);
}

.app.dark .saveInfoButton button {
  background-color: #a5b7cb;
}

/* book mark */
.app.dark .bookmark {
  background-color: #222;
}
.app.dark .bookmark h1 {
  color: var(---secondary-color);
}

.app.dark .bookmark .sidebatIconBookmark span {
  color: var(---secondary-color);
}

/* setting page */
.app.dark .settingContainer {
  background-color: #222;
}

.app.dark .settingContainer .settingLinks span {
  color: var(---secondary-color);
}

/* personal info page */
.app.dark .personalInfo {
  background-color: #222;
}
/* /password page */
.app.dark .changePassword {
  background-color: #222;
}
.app.dark .changePassword input {
  background-color: gray;
  color: white;
}
.app.dark .changePassword input::placeholder {
  color: rgb(212, 209, 209);
}
.app.dark .changePasswordWrapperContainer {
  box-shadow: -1px 0px 8px -3px rgba(151, 148, 148, 0.72);
}

/* add photo  */
.app.dark .addPhoto {
  background-color: #222;
}

.app.dark .addPhoto .addphotoWrapper {
  background-color: #222;
  box-shadow: -1px 0px 8px -3px rgba(177, 176, 176, 0.72);
}
.app.dark .addPhoto .addPhotofeed textarea {
  background-color: gray;
  color: var(---secondary-color);
}
.app.dark .addPhoto .addPhotofeed textarea::placeholder {
  color: var(---secondary-color);
}
.app.dark .addPhoto .addphotoBox {
  background-color: gray;
  color: black;
}
.app.dark .addPhoto .addPhotoTitle p {
  color: var(---secondary-color);
}

.app.dark .addPhoto .addPhotoIcon {
  color: var(---secondary-color);
}
.app.dark .addPhoto .postButton p{
  color: var(---secondary-color);
}
/* search page */
.app.dark .searchContainer {
  background-color: #222;
}
.app.dark .searchContainer input {
  background-color: gray;
  color: white;
}
.app.dark .searchInputBox input::placeholder {
  color: white;
}

/* followers  */

.app.dark .followersContainer h3 {
  color: var(---secondary-color);
}

.app.dark .followersUser span {
  color: var(---secondary-color);
}
