.postContainer {
  background-color: #f0f2f5;
}
.followersContainer {
  background-color: #f0f2f5;
}

/* responsive */
@media only screen and (max-width: 800px) {
  .sidebarHomePage {
    display: none;
  }
  .followersContainer {
    display: none;
  }
  .postContainer {
    width: 100%;
    background-color: white;
  }
}
