.editContainer {
  height: auto;
  width: 100%;
}

.editWrapper {
  width: 50%;
  background-color: white;
  margin-left: 25%;
  box-shadow: -1px 0px 8px -3px rgba(0, 0, 0, 0.72);
  margin-top: 7vh;
  padding: 15px;
  border-radius: 10px;
}
.editheadertext {
  display: flex;
  justify-content: space-between;
}
.editheadertext h1 {
  font-size: 20px;
  color: black;
  margin: 10px;
  font-weight: 600;
}
.editContainer .fa-xmark {
  color: black;
  font-size: 25px;
  margin: 10px;
}

/* edit profile css */
.editProfileWrapper {
  display: flex;
  justify-content: space-between;
}
.editProfileWrapper h3 {
  font-size: 18px;
  font-weight: 600;
}

.editProfileWrapper p {
  color: blue;
}
.editProfilePictureContainer img {
  width: 30%;
  height: 30vh;
  border-radius: 100px;
  object-fit: cover;
  margin-left: 35%;
}

/* cover photo */
.editcoverPicWrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.editcoverPicWrapper h3 {
  font-size: 18px;
  font-weight: 600;
}

.editcoverPicWrapper p {
  color: blue;
}
.editcoverPictureContainer img {
  width: 80%;
  height: 25vh;
  object-fit: cover;
  margin-left: 10%;
}

/* bio */
.editBioDesc {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.editBioDesc h3 {
  font-size: 18px;
  font-weight: 600;
}
.editBioDesc textarea {
  width: 50%;
  margin-right: 25%;
  padding: 10px 10px 10px 50px;
  outline: none;
  border: none;
  font-size: 20px;
}

/* edit intro */
.editInfoContainer {
  margin-top: 30px;
}
.editInfoContainer h3 {
  font-size: 18px;
  font-weight: 600;
}
.inputBoxes {
  margin-top: 10px;
  margin: 10px;
}
.inputBoxes label {
  font-size: 13px;
  font-weight: 600;
  color: rgb(97, 94, 94);
}
.inputBoxes input {
  width: 100%;
  height: 37px;
  border-radius: 6px;
  outline: none;
  border: none;
  border: 1px solid grey;
  padding: 10px;
}

/* save info button */
.saveInfoButton button {
  width: 97%;
  margin: 10px;
  outline: none;
  border: none;
  height: 35px;
  background-color: #e7f3ff;
  color: #1877f2;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 20px;
}
.saveInfoButton button:hover {
  background-color: #cadcef;
  border-radius: 10px;
}

/* responsive */
@media only screen and (max-width: 800px) {
  .editWrapper {
    width: 100%;
    margin-left: 0%;
    margin-top: 0vh;
  }
  .editheadertext h1 {
    font-size: 17px;
  }
  .editContainer .fa-xmark {
    font-size: 21px;
  }

  /* edit profile css */
  .editProfileWrapper h3 {
    font-size: 14px;
    font-weight: 600;
  }
  .editProfilePictureContainer img {
    width: 120px;
    height: 120px;
  }
  .editProfileWrapper p {
    font-size: 13px;
  }
  /* cover photo  */

  .editcoverPictureContainer h3 {
    font-size: 14px;
    font-weight: 600;
  }
  .editcoverPictureContainer img {
    width: 100%;
    height: 20vh;
    object-fit: cover;
    margin-left: 0%;
  }
  .editcoverPictureContainer p {
    font-size: 13px;
  }
  /* bio */
  .editBioDesc h3 {
    font-size: 14px;
  }
  .editBioDesc textarea {
    width: 70%;
    margin-right: 15%;
    font-size: 13px;
  }

  /* edit intro */

  .editInfoContainer h3 {
    font-size: 14px;
  }

  .inputBoxes label {
    font-size: 11px;
  }
  .inputBoxes input {
    height: 33px;
  }

  /* save info button */
  .saveInfoButton button {
    width: 97%;
    height: 33px;
    font-size: 15px;
  }
}
