.followersContainer {
  height: 100vh;
  margin-top: 4vh;
  overflow-y: scroll;
  position: sticky;
  top: 5vh;
}

.followersContainer h3 {
  font-size: 16px;
  color: #65676b;
  margin-top: 4vh;
  font-weight: 600;
}
