.sidebar {
  flex: 1.5;
  /* background-color: #f0f2f5; */
  margin-top: 9.2vh;
  height: 100vh;
  position: fixed;
  margin-left: -10px;
  width: 25%;
  
}

.sidebar:hover {
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: rgb(185, 184, 184);
}

/* profile img */
.profileImgSidebar {
  display: flex;
  margin-top: 10px;
}

.profileImgSidebar img {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 10px;
  object-fit: cover;
}

.profileImgSidebar p {
  font-style: 11px;
  margin-left: 10px;
  cursor: pointer;
  color: black;
  font-weight: 500;
  margin-top: 12px;
}

/* icons */
.sideBarIconItem {
  cursor: pointer;
}

.sidebatIcon :hover {
  background-color: rgb(236, 236, 236);
  border-radius: 5px;
}

.group {
  color: rgb(27, 135, 245);
  display: flex;
  margin-left: 15px;
  margin-top: 22px;
}

.text span{
  /* color: #444545; */
  margin-left: 1px;
  font-size: 13px;
  margin-top: 5px;
  font-weight: 600;
}

/* friend */
.friend {
  color: rgb(26, 126, 244);
  display: flex;
  margin-left: 15px;
  margin-top: 22px;
}

.store {
  color: #2593e1;
  display: flex;
  margin-left: 15px;
  margin-top: 22px;
}

.watch {
  color: #2593e1;
  display: flex;
  margin-left: 15px;
  margin-top: 22px;
}

.page {
  color: #ea572a;
  display: flex;
  margin-left: 15px;
  margin-top: 22px;
}

.memories {
  color: #0165e1;
  display: flex;
  margin-left: 15px;
  margin-top: 22px;
}

.saved {
  color: #b534b9;
  display: flex;
  margin-left: 15px;
  margin-top: 22px;
}

.events {
  color: rgb(244, 81, 109);
  display: flex;
  margin-left: 15px;
  margin-top: 22px;
}

.favourites {
  color: #f8cc48;
  display: flex;
  margin-left: 15px;
  margin-top: 22px;
}

.recent {
  color: #2593e1;
  display: flex;
  margin-left: 15px;
  margin-top: 22px;
}

.desc {
  font-size: 13px;
  margin-top: 20px;
  margin-left: 10px;
}
