.profileContainer {
  width: 100%;
  height: auto;
  /* margin-left: 10%; */
}
.progileTopbar {
  width: 100%;
  height: 6vh;
  background-color: #3b5998;
  color: white;
  display: flex;
}
.progileTopbar p {
  margin-top: 5px;
  font-weight: 500;
  font-size: 20px;
  margin-left: 40px;
}
.renderHomePage .fa-arrow-left {
  margin: 10px 10px 0px 50px;
  font-weight: 600;
  font-size: 20px;
  color: white;
}

/* cover img */
.profileCoverImg {
  position: relative;
  text-align: center;
  width: 96%;
  height: 50vh;
  margin-left: 2%;
  box-shadow: -1px 0px 8px -3px rgba(0, 0, 0, 0.72);
}
.profileCoverImg img {
  width: 100%;
  height: 50vh;
  object-fit: cover;
  margin-top: 10px;
}
.imgprofileCamera p {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0px;
  right: 150px;
  background-color: #e4e6eb;
  color: #550505;
  font-size: 15px;
  padding: 2px 7px;
  border-radius: 2px;
  cursor: pointer;
}

/* profile image */
.profileIntro {
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin-left: 10%;
}

.profileImage img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin-left: 10%;
  border: 4px solid rgb(179, 177, 177);
  object-fit: cover;
  position: absolute;
  bottom: -65px;
  left: 16px;
  cursor: pointer;
}

.feedImport {
  padding-top: 7vh;
}
.userProfileNameSpan {
  height: auto;
  text-align: center;
}
.userProfileNameSpan h1 {
  font-weight: 600;
  font-size: 32px;
}
.userProfileNameSpan p {
  margin-top: -7px;
  width: 40%;
  height: auto;
  margin-left: 30%;
}
@media only screen and (max-width: 900px) {
  .profileContainer {
    width: 100%;
    height: auto;
  }

  /* profile topbar */
  .progileTopbar {
    width: 100%;
    height: auto;
    background-color: #3b5998;
    color: white;
    display: flex;
  }
  .progileTopbar p {
    font-size: 15px;
    margin: 10px;
  }
  .progileTopbar .fa-arrow-left-long {
    font-size: 13px;
    margin: 10px;
    font-weight: 500;
  }

  .imgprofileCamera p {
    bottom: 0px;
    right: 80px;
    font-size: 13px;
    border-radius: 7%;
    padding-top: 3px;
  }

  .feedImport {
    padding-top: 1vh;
  }

  /* cover img */
  .profileCoverImg img {
    height: 18vh;
  }

  /* profile image */
  .profileIntro {
    position: relative;
  }

  .profileImage img {
    height: 120px;
    width: 120px;
    margin-left: 33.33%;
    position: absolute;
    bottom: 5px;
  }
  .userProfileNameSpan h1 {
    /* margin-left: 24%; */
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    margin-top: 0px;
  }
  .userProfileNameSpan p {
    width: 50%;
    margin-left: 25%;
    font-size: 13px;
  }
}

/* responsive */
@media only screen and (max-width: 500px) {
  .imgprofileCamera p {
    bottom: 0px;
    right: 45px;
    font-size: 13px;
    border-radius: 7%;
    padding-top: 3px;
  }
}
