.profileIntro {
  margin-left: 10%;
  width: 100%;
  z-index: 99;
  position: sticky;
  top: 2vh;
}

.profileIntro h3 {
  font-size: 18px;
}
/* left side intro */
.leftSideIntro {
  width: 100%;
  height: auto;
  background-color: white;
  margin-top: 0px;
  color: #4b4b4b;
  border: 2px solid rgb(229, 228, 228);
  margin-bottom: 10px;
  border-radius: 6px;
}

.introIconItem {
  margin-top: 20px;
}
.introIconItem span {
  margin-left: 15px;
}

/* edit button */
.userInfoEditBtn {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.userInfoEditBtn button {
  border: none;
  outline: none;
  padding: 5px 15px;
  font-size: 12px;
  color: white;
  background-color: #1877f2;
  font-weight: 600;
  margin-top: 25px;
  border-radius: 5px;
}
.introIconItem .fa-clock {
  font-size: 20px;
}
/* responsive */
@media only screen and (max-width: 800px) {
  .introIcons p {
    display: none;
  }
  .introIcons span{
    font-size: 13px;
  }
  .profileIntro {
    width: 100%;
    margin-left: 0px;
    padding-bottom: 0px;
  }
  .leftSideIntro {
    position: relative;
    margin-top: -95px;
    height: auto;
  }
  .leftSideIntro {
    margin-bottom: 0px;
  }
  .userInfoEditBtn button {
    padding: 3px 15px;
    font-size: 10px;
    margin-top: 20px;
    border-radius: 5px;
  }
}
@media only screen and (max-width: 320px) {
  .leftSideIntro {
    position: relative;
    margin-top: -70px;
    height: auto;
  }
}
